.navbar {
    float: left;
    width: 220px;
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
    height: 100vh;
    width: 220px;
}
/*==========================LOGO======================*/
    .navbar .logo-site, .navbar .logo-box {
        display: flex;
        width: 80%;
        height: 60px;
    }

    .navbar .logo-box {
        position: absolute;
        padding: 12px 0px 16px 12px;
    }

        .navbar .logo-site .toggle-icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            margin-top: 3px;
            background-image: url('/contents/images/toggle.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .navbar .logo-site .cukcuk-logo {
            width: 100%;
            height: 30px;
            background-image: url('/contents/images/cukcuk-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

/*=============================NAVBAR-MENU=======================================*/

    .navbar .navbar-content {
        width: 100%;
    }

        .navbar .navbar-content .nav-item {
            display: flex;
            padding-left: 16px;
            height: 44px;
            cursor: pointer;
            line-height: 44px;
        }

            .navbar .navbar-content .nav-item:hover {
                background: #e5e5e5;
                color: #000000;
            }

    .navbar .nav-item .icon1 {
        background-image: url('/contents/icons/dashboard.png');
    }

    .navbar .nav-item .icon2 {
        background-image: url('/contents/icons/report.png');
    }

    .navbar .nav-item .icon3 {
        background-image: url('/contents/icons/dashboard.png');
    }

    .navbar .nav-item .icon4 {
        background-image: url('/contents/icons/dic-employee.png');
    }

    .navbar .nav-item .icon5 {
        background-image: url('/contents/icons/dic-employee.png');
    }

    .navbar .nav-item .icon6 {
        background-image: url('/contents/icons/setting.png');
    }
