.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 237px);
    height: calc(100vh - 61px);
    background: #ffffff;
}
    /* ===================CONTENT-TITLE====================*/
    .content .content-title {
        display: flex;
        height: 60px;
        padding-top: 5px;
    }

    .content .btn-add {
        position: absolute;
        right: 0px;
        cursor: pointer;
    }

        .content .btn-add:hover {
            background: #2fbe8e;
        }

        .content .content-title .title {
            font-size: 20px;
            font-weight: bold;
            padding-left: 16px;
            line-height: 60px;
        }


        .content .content-title .item-icon {
            margin-right: 10px;
        }

        .content .content-title .add-icon {
            margin-right: 8px;
            background-image: url('/contents/icons/add.png');
        }




    /*=====================SEARCH===============*/


    .content .content-search {
        height: 60px;
        display: flex;
        padding-left: 16px;
    }

        .content .content-search .searchbox {
            background: #ffffff;
            border-radius: 4px;
            height: 40px;
            text-align: left;
            line-height: 40px;
            color: #bbbbbb;
            font-size: 12px;
            display: flex !important;
            border: 1px solid #e5e5e5;
            padding-left: 16px;
            padding-right: 8px;
        }

        .content .content-search .item-icon {
            width: 16px;
            height: 16px;

        }

        .content .content-search .search-icon {
            background-repeat: no-repeat;
            padding-right: 8px;
            background-image: url('/contents/icons/search.png');
        }

        .content .content-search .refresh {
            position: absolute;
            right: 0px;
            cursor: pointer;
        }

        .content .content-search .refresh-icon {
            background-repeat: no-repeat;
            background-image: url('/contents/icons/refresh.png');
            margin-right: 7px;
        }



    /*========================CONTENT-BOTTOM================================*/
    .content .content-bottom {
        height: 56px;
        padding-left: 16px;
        display: flex;
        line-height: 56px;
        border: 1px;
        margin-top: 4px;
    }

        .content .content-bottom .bottom-left {
            position: absolute;
            left: 30px;
        }

        .content .content-bottom .bottom-right {
            position: absolute;
            right: 20px;
        }

    .content-bottom .bottom-center {
        display: flex;
        text-align: center;
        margin: 0px auto;
    }

        .content-bottom .bottom-center .bt-ct {
            width: 28px;
            height: 28px;
            margin-right: 10px;
        }


        .content-bottom .bottom-center .page-number {
            border: 1px solid #bbbbbb;
            background: #e5e5e5;
            border-radius: 50%;
            margin-top: 10px;
        }

        .content-bottom .bottom-center .custom {
            background: #019160;
        }


.number {
    margin-top: -13px;
}

        .content-bottom .bottom-center .page-number:hover {
            background: #ffffff;
            cursor: pointer;
            color: inherit;
        }


        .content-bottom .bottom-center .item-icon {
            width: 28px;
            height: 28px;
            color: #bbbbbb;
            margin-bottom: 7px;
            cursor: pointer;
        }


        .content-bottom .bottom-center .bt-icon1 {
            background-image: url('/contents/icons/btn-firstpage.svg');
        }

        .content-bottom .bottom-center .bt-icon2 {
            background-image: url('/contents/icons/btn-prev-page.svg');
        }

        .content-bottom .bottom-center .bt-icon3 {
            background-image: url('/contents/icons/btn-next-page.svg');
        }

        .content-bottom .bottom-center .bt-icon4 {
            background-image: url('/contents/icons/btn-lastpage.svg');
        }
